header {
    background: url("img/header.png");
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.crear {
    margin: 0 auto;
    align-content: center;
}

.boton {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}