.contenedor-descripcion {
	display: flex;
	align-items: center;
}

.instruccion {
	padding-left: 30px;
}

/* PREGUNTAS */

.contenedor-preguntas {
	padding-top: 5%;
	padding-left: 130px;
}

/* PREGUNTA */

.contenedor-pregunta {
	border-radius: 2%;
    background: #F2F2F2;
    padding: 3%;
    margin-bottom: 10%;
}

.pregunta-texto {
	font-style: normal;
  	font-size: 20px;
  	line-height: 30px;
  	padding-bottom: 10px;
}

/* BOTON */

.continuar {
	padding-top: 5%;
}