.fecha {
    height: 60px;
    border: 1px solid #C1C0C5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 20px 0 10px;
    display: inline-block;
    margin-left: 30px;
}

.fecha-inline {
    display: inline-block;
}

.tipoDoc {
    border: 1px solid #C1C0C5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 0 10px 10px;
    margin-left: 38px;
}

.contactos {
    margin-top: 70px;
}

.contacto-numero {
    display: inline-block;
}