<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Buscar Hogar</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Resources/Letras.css" th:href="@{/Resources/Letras.css}"/>
    <link rel="stylesheet" href="../static/Buscar_Hogar/Buscar_Hogar.css" th:href="@{/Buscar_Hogar/Buscar_Hogar.css}">
    <link rel="stylesheet" href="../static/Resources/normalize.css" th:href="@{/Resources/normalize.css}">
    <link rel="stylesheet" href="../static/Resources/Footer.css" th:href="@{/Resources/Footer.css}">
    <link rel="icon" href="../static/Resources/img/logo.png" th:href="@{/Resources/img/logo.png}" type="image/icon type">
</head>

<body>

<header>
    <div class="contenedor-base">

        <nav class="menu">
            <a href="/Iniciar Sesion">Iniciar Sesión</a>
            <a href="/">Página Principal</a>
            <a href=".">Organizaciones</a>
        </nav>

        <div class="contenedor-texto-header">
            <h1 class="titulo-principal">Hogares de Tránsito</h1>
        </div>

    </div>
</header>

<section class="main">

</section>

<section class="footer">
    <div class="contenedor-base">

        <div class="imagenes-footer">

            <a href="">
                <div class="img-footer twitter">
                    <img src="../static/Resources/img/twitter.png" th:src="@{/Resources/img/twitter.png}" width="45" alt="Twitter @RescateDePatitas">
                </div>
            </a>
            <a href="">
                <div class="img-footer facebook">
                    <img src="../static/Resources/img/fb.png" th:src="@{/Resources/img/fb.png}" width="45" alt="Facebook @RescateDePatitas">
                </div>
            </a>
            <a href="">
                <div class="img-footer gmail">
                    <img src="../static/Resources/img/gmail.png" th:src="@{/Resources/img/gmail.png}" width="45" alt="Gmail RescateDePatitas@gmail.com">
                </div>
            </a>

        </div>

    </div>
</section>

</body>
</html>