<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Buscar Hogar</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Resources/Letras.css" th:href="@{/Resources/Letras.css}"/>
    <link rel="stylesheet" href="../static/Buscar_Hogar/Buscar_Hogar.css" th:href="@{/Buscar_Hogar/Buscar_Hogar.css}">
    <link rel="stylesheet" href="../static/Resources/normalize.css" th:href="@{/Resources/normalize.css}">
    <link rel="stylesheet" href="/Footer/Footer.css">
    <link rel="stylesheet" href="../static/Resources/Filtro.css" th:href="@{/Resources/Footer.css}">
    <link rel="icon" href="../static/Resources/img/logo.png" th:href="@{/Resources/img/logo.png}" type="image/icon type">
</head>

<body>

<header>
    <div class="contenedor-base">

        <main-menu-simple></main-menu-simple>

        <div class="contenedor-texto-header">
            <h1 class="titulo-principal">Hogares de Tránsito</h1>
        </div>

    </div>
</header>

<section class="main">

    <section class="acerca-de">
        <div class="contenedor-base">

            <div class="texto">
                <h3 class="sub-titulo">Acerca De Nuestros Hogares</h3>
                <p class="texto-simple">Contamos con hogares de tránsito para alojar a las mascotas perdidas mientras esperamos a que aparezcan sus dueños. Cada hogar posee sus propias restricciones para la admisión de mascotas, por lo que al momento de elegir un hogar deberás tener en cuenta las siguientes características</p>
            </div>

            <div class="imagenes-instructivas">
                <div class="contenedor-imagenes">
                    <div class="img-instructiva">
                        <img src="../static/Buscar_Hogar/img/location.jpg" th:src="@{/Buscar_Hogar/img/location.jpg}" width="150" alt="Ubicacion">
                        <p class="texto-simple">Ubicación</p>
                    </div>
                    <div class="img-instructiva">
                        <img src="../static/Buscar_Hogar/img/bell.jpg" th:src="@{/Buscar_Hogar/img/bell.jpg}" width="150" alt="Disponibilidad">
                        <p class="texto-simple">Disponibilidad</p>
                    </div>
                    <div class="img-instructiva">
                        <img src="../static/Buscar_Hogar/img/admisiones.jpg" th:src="@{/Buscar_Hogar/img/admisiones.jpg}" width="150" alt="Admisiones">
                        <p class="texto-simple">Admisiones</p>
                    </div>
                    <div class="img-instructiva">
                        <img src="../static/Buscar_Hogar/img/hogar.jpg" th:src="@{/Buscar_Hogar/img/hogar.jpg}" width="150" alt="Comodidades">
                        <p class="texto-simple">Comodidades</p>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section class="hogares">

        <section class="filtro">
            <div class="contenedor-base">
                <div class="contenedor-hogares-opciones">

                    <p class="sub-titulo" >Todos los hogares</p>

                    <div class="dropdownOrdenar">
                        <button class="dropbtn">
                            <p class="texto-boton">Ordenar</p>
                            <img src="../static/Buscar_Hogar/img/ordenar.png"  th:src="@{/Buscar_Hogar/img/ordenar.png}" alt="Ordenar">
                        </button>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">
                            <p class="texto-boton">Filtrar</p>
                            <img src="../static/Buscar_Hogar/img/filtro.png" th:src="@{/Buscar_Hogar/img/filtro.png}" alt="Filtrar">
                        </button>
                        <div class="dropdown-content">
                            <div class="seccion-filtro">

                                <div class="titulo-check">
                                    <label >Admisiones</label>
                                </div>

                                <div class="opciones-check">
                                    <input type="checkbox" id="GATO" name="tipoMascota">
                                    <label class="texto-simple">Gatos</label>

                                    <input type="checkbox" id="PERRO" name="tipoMascota">
                                    <label class="texto-simple">Perros</label>
                                </div>

                            </div>

                            <div class="seccion-filtro">
                                <div class="titulo-check">
                                    <label class="titulo-check">Características</label>
                                </div>

                                <div class="opciones-check">
                                    <input type="checkbox" id="PATIO" name="poseePatio">
                                    <label  class="texto-simple">Poseen Patio</label>

                                    <input type="checkbox" id="LUGARES_DISPONIBLES" name="hayLugares">
                                    <label  class="texto-simple">Tienen Lugares Disponibles</label>
                                </div>
                            </div>

                            <div class="seccion-filtro">
                                <div class="titulo-check">
                                    <label class="titulo-check">Radio de Cercanía</label>
                                </div>

                                <div class="opciones-radius">
                                    <div class="opcion">
                                        <input type="radio" name="Radio" checked="checked"> 1 km
                                    </div>
                                    <div class="opcion">
                                        <input type="radio" name="Radio">  5 km
                                    </div>
                                    <div class="opcion">
                                        <input type="radio" name="Radio">  10 km
                                    </div>
                                    <div class="opcion">
                                        <input type="radio" name="Radio">  15 km
                                    </div>
                                    <div class="opcion">
                                        <input type="radio" name="Radio">  25 km
                                    </div>
                                </div>
                            </div>
                            <div class="reset-filtros">
                                <div class="texto-borrar">
                                    <input class="boton-filtro" type="submit" value="Borrar Filtros" style="color: #B93122;">
                                </div>
                                <div class="texto-fin">
                                    <input class="boton-filtro" type="submit" value="Cancelar" style="color:#57565B">
                                </div>
                                <div class="texto-fin">
                                    <input class="boton-filtro" type="submit" value="Aceptar" style="color:#1DA1F2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="publicaciones">
            <div class="contenedor-base">
                <div class="publicaciones-hogar">
                    <div class="hogar">
                        <div class="contenedor-azul">
                            <p class="texto-contenedor-azul-titulo">Voluntario Animales del Sur. Lanús</p>
                            <div class="contenedor-azul-informacion">
                                <p class="texto-contenedor-azul">Dirección: Juan B. Justo 38, Lanús, Provincia de Buenos Aires</p>
                                <p class="texto-contenedor-azul">Telefono: 4503-6621</p>
                                <p class="texto-lugares-disponibles">Lugares Disponibles: 30</p>
                            </div>
                        </div>
                        <div class="contenedor-gris">
                            <div class="contenedor-gris-informacion">
                                <p class="texto-contenedor-gris">Admisiones:Si</p>
                                <p class="texto-contenedor-gris">Patio: No</p>
                                <p class="texto-contenedor-gris">Requisitos: Manso, Amigable</p>
                            </div>
                        </div>
                    </div>
                    <div class="hogar">
                        <div class="contenedor-azul">
                            <p class="texto-contenedor-azul-titulo">Voluntario Animales del Sur. Lanús</p>
                            <div class="contenedor-azul-informacion">
                                <p class="texto-contenedor-azul">Dirección: Juan B. Justo 38, Lanús, Provincia de Buenos Aires</p>
                                <p class="texto-contenedor-azul">Telefono: 4503-6621</p>
                                <p class="texto-lugares-disponibles">Lugares Disponibles: 30</p>
                            </div>
                        </div>
                        <div class="contenedor-gris">
                            <div class="contenedor-gris-informacion">
                                <p class="texto-contenedor-gris">Admisiones:Si</p>
                                <p class="texto-contenedor-gris">Patio: No</p>
                                <p class="texto-contenedor-gris">Requisitos: Manso, Amigable</p>
                            </div>
                        </div>
                    </div>
                    <div class="hogar">
                        <div class="contenedor-azul">
                            <p class="texto-contenedor-azul-titulo">Voluntario Animales del Sur. Lanús</p>
                            <div class="contenedor-azul-informacion">
                                <p class="texto-contenedor-azul">Dirección: Juan B. Justo 38, Lanús, Provincia de Buenos Aires</p>
                                <p class="texto-contenedor-azul">Telefono: 4503-6621</p>
                                <p class="texto-lugares-disponibles">Lugares Disponibles: 30</p>
                            </div>
                        </div>
                        <div class="contenedor-gris">
                            <div class="contenedor-gris-informacion">
                                <p class="texto-contenedor-gris">Admisiones:Si</p>
                                <p class="texto-contenedor-gris">Patio: No</p>
                                <p class="texto-contenedor-gris">Requisitos: Manso, Amigable</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:action="@{/cargar-mas}" method="get" class="hogares">
                    <th:block >

                    </th:block>
                    <a  class= "contenedor-mas"> <button class="boton-mas">Cargar mas</button> </a>
                </div>
            </div>
        </section>

    </section>
</section>

<main-footer></main-footer>

<script src="/Footer/Footer.js"></script>
<script src="/Menu/Menu.js"></script>

</body>
</html>