<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >Mascota Perdida</title>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/Resources/Letras.css}">
    <link rel="stylesheet" th:href= "@{/Resources/Boton.css}">
    <link rel="stylesheet" th:href="@{/Resources/normalize.css}">
    <link rel="stylesheet" th:href="@{/Footer/Footer.css}">
    <link rel="stylesheet" th:href="@{/Menu/Menu.css}">
    <link rel="stylesheet" th:href="@{/Resources/Publicaciones.css}">
    <link rel="icon" type="image/icon type" th:href="@{/Resources/img/logo.png}">
    <link rel="stylesheet" th:href="@{/Publicacion_Mascota_Perdida/Publicacion_Mascota_Perdida.css}">


</head>
<body th:with="ubicacion=${publicacion.mascota.ubicacion}">
    <div class="menu-bar">
        <div class="contenedor-base">

            <nav class="menu">
                <th:block th:if="${sesion} == 'logout'">
                    <a th:href="'http://localhost:63342/TPDDS_Grupo5_K3002/templates/Iniciar_Sesion.html'">Iniciar Sesión</a>
                </th:block>

                <th:block th:if="${sesion} == 'login'">
                    <a th:href="'http://localhost:63342/TPDDS_Grupo5_K3002/templates/Mi_Usuario.html'">Mi usuario</a>
                </th:block>

                <a th:href="'http://localhost:63342/TPDDS_Grupo5_K3002/templates/index.html'">Página Principal</a>
                <a th:href="'http://localhost:63342/TPDDS_Grupo5_K3002/templates/Organizaciones.html'">Organizaciones</a>
            </nav>

            <a href="index.html">
                <div class="logo-menu">
                    <img th:src="@{/Menu/img/logo_blanco.png}" alt="Logo">
                </div>
            </a>

        </div>
    </div>

    <section class="main">
        <div class="informacion_Mascota">
            <input type="hidden" id="lat" th:value="${publicacion.mascota.ubicacion.lat}"/>
            <input type="hidden" id="long" th:value="${publicacion.mascota.ubicacion._long}"/>
            <div class="fotos">

                <div class="foto-principal">
                    <img class="elemento" id="principal" th:src="@{ ${publicacion.mascota.fotos[0].contenidoBase64} }"></img>
                </div>
                <th:block th:each="foto: ${publicacion.mascota.fotos}">
                    <div class="foto " style="width: 33%" >
                        <div class="square-box">
                            <img class="square-content" style="cursor: pointer;" th:src="@{ ${foto.contenidoBase64} }"th:id="'foto_' +${foto.id} " th:onclick="'setFirst(\''+${foto.id}  +'\')'"  value></img>
                        </div>
                    </div>
                </th:block>


            </div>

            <div class="estado">
                <p th:text="${publicacion.mascota.estado}">} </p>
            </div>

        </div>


        <div class="ubicacion">

            <p>Ubicacion donde fue encontrada: <td th:text="${publicacion.mascota.ubicacion.direccion}"/> </p>

            <div id="map"></div>

            <p>¿Crees que es tu macota?</p>
            <p>Contacta al rescatista</p>

            <input class="botonAzul boton" type="button"  onclick="contactar()" value="Contactar">

            <th:block th:if="${estado} == 'ok'">
                <div class="contenedor-estado" >
                    <p style='color:green;'>se envio la notificacion al dueño </p>
                </div>
            </th:block>
            <th:block th:if="${estado} == 'error'">
                <div class="contenedor-estado" >
                    <p style='color:red;'> hubo un error </p>
                </div>
            </th:block>

        </div>

    </section>



    <section class="footer">
        <div class="contenedor-base">
            <div class="imagenes-footer">
                <a href="https://twitter.com">
                    <div class="img-footer twitter">
                        <img th:src="@{/Footer/img/twitter.png}" width="45" alt="Twitter @RescateDePatitas">
                    </div>
                </a>
                <a href="https://www.facebook.com/">
                    <div class="img-footer facebook">
                        <img th:src="@{/Footer/img/fb.png}" width="45" alt="Facebook @RescateDePatitas">
                    </div>
                </a>
                <a href="https://mail.google.com/">
                    <div class="img-footer gmail">
                        <img th:src="@{/Footer/img/gmail.png}" width="45" alt="Gmail RescateDePatitas@gmail.com">
                    </div>
                </a>
            </div>
        </div>
    </section>

    <script src="../../static/Publicacion_Mascota_Perdida/Publicacion_Mascota_Perdida_Liviano.js" th:src="@{/Publicacion_Mascota_Perdida/Publicacion_Mascota_Perdida_Liviano.js}" th:inline="javascript" ></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9yX6NFzg2Hl47X8d-vE3IAKvcfThBUXg&callback=initMap&libraries=&v=weekly" th:src="|https://maps.googleapis.com/maps/api/js?key=AIzaSyA9yX6NFzg2Hl47X8d-vE3IAKvcfThBUXg&callback=initMap&libraries=&v=weekly|"></script>


</body>
</html>