<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Crear Publicación</title>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/Resources/Letras.css">
	<link rel="stylesheet" href="/Crear_Publicacion/Crear_Publicacion.css">
	<link rel="stylesheet" href="/Resources/normalize.css">
	<link rel="stylesheet" href="/Resources/Boton.css">
	<link rel="stylesheet" href="/Footer/Footer.css">
	<link rel="stylesheet" href="/Menu/Menu.css">
	<link rel="icon" href="/Resources/img/logo.png" type="image/icon type">
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

<header>
	<div class="contenedor-base">

		<main-menu></main-menu>


	</div>
</header>


<section class="main">

	<div class="contenedor-base">
	<section class="acerca-de">

		<div class="informacion">

			<h3 class="sub-titulo">Creando Publicación</h3>
			<br>
			<div class="contenedor-informacion">
				<img class="img-informacion" src="/Crear_Publicacion/img/img.jpg" :src="@{/Crear_Publicacion/img/img.jpg}" width="10%" height="10%" alt="Imagen">
				<p class="texto-simple texto-informacion">Complete los datos a continuación con sus preferencias para encontrar a su mascota ideal.</p>
			</div>
			<br>
		</div>

	</section>

	<section class="datos">

		<form action="" class="formulario" id="form-datos-preferencias" method="">

			<div class="input">
				<p class="texto-simple pregunta">Tipo</p>
				<div class="opcion-unica">
					<input type="radio" id="Gato" name="tipo">
					<label for="Gato" class="texto-simple">Gato</label><br>
					<input type="radio" id="Perro" name="tipo">
					<label for="Perro" class="texto-simple">Perro</label><br>
					<input type="radio" id="Cualquiera" name="tipo">
					<label for="Cualquiera" class="texto-simple">Cualquiera</label><br>
				</div>
			</div>
			<br>
			<div class="input">
				<p class="texto-simple pregunta">Sexo</p>
				<div class="opcion-unica">
					<input type="radio" id="Hembra" name="sexo">
					<label for="Hembra" class="texto-simple">Hembra</label><br>
					<input type="radio" id="Macho" name="sexo">
					<label for="Macho" class="texto-simple">Macho</label><br>
					<input type="radio" id="Cualquier-Sexo" name="sexo">
					<label for="Cualquier-Sexo" class="texto-simple">Cualquiera</label><br>
				</div>
			</div>
			<br>
			<div class="input">
				<p class="texto-simple pregunta">Edad</p>
				<div class="opcion-unica">
					<div class="contenedor-edad">
						<input type="radio" id="entre" name="edad">
						<label for="entre" class="texto-simple entre">Entre</label>
						<input type="number" id="edadMin" name="edadMin" class="campo-numero" min="0" max="99">
						<p class="texto-simple">y</p>
						<input type="number" id="edadMax" name="edadMax" class="campo-numero" min="0" max="99">
					</div>
					<input type="radio" id="Cualquier-Edad" name="edad">
					<label for="Cualquier-Edad" class="texto-simple">Cualquiera</label><br>
				</div>
			</div>
			<br>
			<div class="input" id="caracteristicas">
				<p class="texto-simple pregunta">Caracteristicas</p>
				<div class="opcion-multiple">
					<a v-for="caracteristica in caracteristicas">
						<input type="checkbox" id="Caracteristica" name="caracteristica">
						<label for="caracteristica" class="texto-simple">{{caracteristica.caracteristica}}</label><br>
					</a>
				</div>
				<!-- Acá tiene que cargar los que hay en la BBDD -->
			</div>
			<br>
			<div class="input" id="comodidades">
				<p class="texto-simple pregunta">Comodidades</p>
				<div class="opcion-multiple-comodidad">
					<a v-for="comodidad in comodidades">
						<input type="checkbox" id="comodidad" name="comodidad">
						<label for="comodidad" class="texto-simple">{{comodidad.comodidad}}</label><br>
					</a>
				</div>
				<!-- Acá tiene que cargar los que hay en la BBDD -->
			</div>
			<br>
			<input class="botonAzul boton" type="submit" value="Finalizar" >

		</form>

	</section>

	</div>
</section>

<main-footer></main-footer>

<script src="/Footer/Footer.js"></script>
<script src="/Menu/Menu.js"></script>
<script src="/Crear_Publicacion/Crear_Publicacion.js"></script>

</body>
</html>