<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Datos Personales</title>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/Resources/Menu.css" th:href="@{/Resources/Menu.css}">
	<link rel="stylesheet" href="../static/Resources/Letras.css" th:href="@{/Resources/Letras.css}"/>
	<link rel="stylesheet" href="../static/Datos_Dueño_Y_Contactos/Datos_Dueño_Y_Contactos.css" th:href="@{/Datos_Dueño_Y_Contactos/Datos_Dueño_Y_Contactos.css}">
	<link rel="stylesheet" href="/Footer/Footer.css">
	<link rel="stylesheet" href="../static/Resources/normalize.css" th:href="@{/Resources/normalize.css}">
	<link rel="stylesheet" href="../static/Resources/Boton.css" th:href="@{/Resources/Boton.css}"/>
	<link rel="icon" href="../static/Resources/img/logo.png" th:href="@{/Resources/img/logo.png}" type="image/icon type">
</head>

<body>

	<header>
		<div class="contenedor-base">

			<nav class="menu">
				<a href="/Iniciar Sesion">Iniciar Sesión</a>
				<a href="/">Página Principal</a>
				<a href="/organizaciones">Organizaciones</a>
			</nav>

				<div class="logo">
					<img src="/Resources/img/logo_blanco.png" alt="Logo">
				</div>

		</div>
	</header>


	<section class="main">
		<div class="contenedor-base">

			<div class="datos-personales">
				
				<h3 class="sub-titulo">Datos Personales</h3>

				<form action="" class="formulario" id="form-datos-personales" method="">

					<div class="input">
						<p class="texto-simple pregunta">Nombre</p>
						<input type="text" class="input-completo texto-simple" name="nombre" required>
					</div>

					<div class="input">
						<p class="texto-simple pregunta">Apellido</p>
						<input type="text" class="input-completo" name="apellido" required>
					</div>

					<div class="input">
						<p class="texto-simple pregunta">Teléfono</p>
						<input type="text" class="input-completo" name="telefono" required>
					</div>

					<div class="input">
						<p class="texto-simple pregunta">Email</p>
						<input type="text" class="input-completo" name="email" required>
					</div>

					<div class="input">
						<p class="texto-simple pregunta">Quiero ser notificado por</p>
						<div class="opciones-notif">
							<input type="checkbox" id="WPP" name="MedioNotif">
							<label for="WPP" class="texto-simple">WhatsApp</label><br>
							<input type="checkbox" id="SMS" name="MedioNotif">
							<label for="SMS" class="texto-simple">SMS</label><br>
							<input type="checkbox" id="EMAIL" name="MedioNotif">
							<label for="EMAIL" class="texto-simple">Email</label><br>
						</div>
					</div>

					<div class="input">
						<p class="texto-simple pregunta">Fecha de nacimiento</p>
						<input type="date" class="fecha texto-simple pregunta" name="fechaDeNacimiento" required>
					</div>

					<div class="input">
						<label for="tipoDoc" class="texto-simple">Tipo de documento</label>
						<select name="tipoDoc" id="tipoDoc" class="texto-simple tipoDoc pregunta" required>
							<option value="DNI">DNI</option>
							<option value="Pasaporte">Pasaporte</option>
						</select>
					</div>		

					<div class="input">
						<p class="texto-simple pregunta">Número de documento</p>
						<input type="number" class="input-completo" name="nroDoc" required>
					</div>

					<div class="input">
						<p class="texto-simple pregunta">Domicilio</p>
						<input type="text" class="input-completo" name="domicilio" required>
					</div>


					<h3 class="sub-titulo contactos">Mis contactos</h3>

						<div class="input">
							<p class="texto-simple pregunta">Nombre</p>
							<input type="text" class="input-completo" name="nombre_contacto" required>
						</div>

						<div class="input">
							<p class="texto-simple pregunta">Apellido</p>
							<input type="text" class="input-completo" name="apellido_contacto" required>
						</div>

						<div class="input">
							<p class="texto-simple pregunta">Teléfono</p>
							<input type="text" class="input-completo" name="telefono_contacto" required>
						</div>

						<div class="input">
							<p class="texto-simple pregunta">Email</p>
							<input type="text" class="input-completo" name="email_contacto" required>
						</div>

						<div class="input">
							<p class="texto-simple pregunta">Quiere ser notificado por</p>
							<div class="opciones-notif">
								<input type="checkbox" id="WPP_CONTACTO" name="MedioNotif">
								<label for="WPP_CONTACTO" class="texto-simple">WhatsApp</label><br>
								<input type="checkbox" id="SMS_CONTACTO" name="MedioNotif">
								<label for="SMS_CONTACTO" class="texto-simple">SMS</label><br>
								<input type="checkbox" id="EMAIL_CONTACTO" name="MedioNotif">
								<label for="EMAIL_CONTACTO" class="texto-simple">Email</label><br>
							</div>
						</div>

					<!-- Falta boton para Agregar Mas Contactos -->

					<input class="botonAzul boton" type="submit" value="Continuar">

				</form>


			</div>
			
		</div>

	</section>

	<main-footer></main-footer>

	<script src="/Footer/Footer.js"></script>

</body>
</html>