/* Hide arrows in number type submit */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Same but for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* MAIN - DATOS PERSONALES */

.main .contenedor-base {
    padding: 80px 0 100px 0;
}

.input {
    margin-bottom: 20px;
}

.input-completo {
    width: 575px;
    height: 60px;
    border: 1px solid #C1C0C5;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.sub-titulo {
    margin-bottom: 50px;
}

.pregunta {
    margin-bottom: 10px;
}

.opciones-notif {
    margin-left: 30px;
    display: inline-block;
}

.notif-inline {
    display: inline-block;
    vertical-align: top;
}

.fecha {
    height: 60px;
    border: 1px solid #C1C0C5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 20px 0 10px;
    display: inline-block;
    margin-left: 30px;
}

.fecha-inline {
    display: inline-block;
}

.tipoDoc {
    border: 1px solid #C1C0C5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 0 10px 10px;
    margin-left: 38px;
}

.contactos {
    margin-top: 70px;
}

.boton {
    display: block;
    margin: 0 auto;
}

.contacto-cuadro {
    padding: 40px;
    display: inline-block;
    border: 1px solid #A4B1D1;
    border-radius: 10px;
    margin-bottom: 50px;
}

.contacto-cuadro:hover {
    border: 2px solid #A4B1D1;
    border-radius: 10px;
}

.gris {
    display: block;
}

span {
    width: 30px;
    float: right;
    cursor: pointer;
    display: inline-block;
    color: #A4B1D1;
}

.contacto-numero {
    display: inline-block;
}