.contenedor-base2 {
  	width: 100%;
  	max-width: 1000px;
  	margin: auto;
  	overflow: hidden;
}

.main {
    padding: 40px 0 100px 0;
    justify-content: center;
}

.contenedor-informacion {
	display: flex;
	margin: auto;
	align-items: center;
}

.datos {
	width: 100%;
}

.texto-informacion {
	padding-left: 15px;
}

.contenedor-informacion .img-informacion {
	border-radius: 50%;
    border: 7px solid rgba(26, 163, 255, 0.2);
}

.input {
	display: flex;
}

.input .opcion-unica{
	padding-left: 10%;
}

.input .opcion-mail{
	padding-left: 8%;
}

.input-check {
	display: flex;
}

.input-check .opcion-multiple {
	padding-left: 3%;
}

.input-check .opcion-multiple-comodidad {
	padding-left: 3.5%;
}

.boton {
	margin-left: 50%;
}

.contenedor-edad {
	display: flex;
	align-items: center;
}

.campo-mail {
	width: 250px;
	height: 25px;
}

.campo-numero {
	width: 40px;
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.entre {
	padding-left: 5px;
}

.texto-error {
	color:red;
}

.notif-inline {
    display: inline-block;
    vertical-align: top;
}